@import "../libs/normalize.css";
@import "../libs/slick/slick.css";
@import "../libs/slick/slick-theme.css";
* {
  box-sizing: border-box;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.clear {
  clear: both;
}
.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  background-color: #fff;
  color: #000;
  font-family: 'Roboto', sans-serif;
}
@font-face {
  font-family: 'MullerReg';
  src: url('../fonts/Muller/MullerRegular.eot');
  src: url('../fonts/Muller/MullerRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/Muller/MullerRegular.woff2') format('woff2'), url('../fonts/Muller/MullerRegular.woff') format('woff'), url('../fonts/Muller/MullerRegular.ttf') format('truetype'), url('../fonts/Muller/MullerRegular.svg#MullerRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MullerBold';
  src: url('../fonts/Muller/MullerBold.eot');
  src: url('../fonts/Muller/MullerBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Muller/MullerBold.woff2') format('woff2'), url('../fonts/Muller/MullerBold.woff') format('woff'), url('../fonts/Muller/MullerBold.ttf') format('truetype'), url('../fonts/Muller/MullerBold.svg#MullerBold') format('svg');
  font-weight: bold;
  font-style: normal;
}
body img {
  max-width: 100%;
  height: auto;
  border: 0;
}
body ul {
  list-style: none;
}
body a {
  text-decoration: none;
}
body h1,
body h2,
body h3,
body h4,
body p,
body ul,
body input,
body picture {
  margin: 0;
  padding: 0;
}
body .wrap {
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
  max-width: 1230px;
  height: 100%;
}
header {
  margin-top: 10px;
  margin-bottom: 58px;
}
header .logo {
  float: left;
  margin-left: 5px;
}
header .logo a {
  display: block;
  font-size: 0;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
header .logo a:hover {
  opacity: .7;
}
header .phone-btn-call {
  float: left;
  width: 570px;
  margin-left: 73px;
  margin-top: 9px;
}
header .phone-btn-call .phone {
  float: left;
}
header .phone-btn-call .phone a {
  display: block;
  padding-left: 30px;
  font-size: 22px;
  color: #000;
  text-transform: uppercase;
  background: url('../img/tel.png') 0 3px no-repeat;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
header .phone-btn-call .phone a:hover {
  opacity: .7;
}
header .phone-btn-call .phone p {
  font-size: 15px;
  color: #181818;
  background: url('../img/time.png') 0 0 no-repeat;
  padding-left: 25px;
  margin-bottom: 5px;
}
header .phone-btn-call .btn-call {
  float: right;
}
header .phone-btn-call .btn-call a {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  display: inline-block;
  padding: 11px 29px 11px 55px;
  background: url('../img/btn-call.png') 25px 50% no-repeat, linear-gradient(to bottom, #8ec741, #39a072);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
header .phone-btn-call .btn-call a:hover {
  opacity: .7;
}
header .social-link {
  float: right;
}
header .social-link a {
  display: inline-block;
  vertical-align: top;
  margin-right: 12px;
  margin-top: 12px;
  font-size: 0;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
header .social-link a:last-child {
  margin-right: 0;
}
header .social-link a:hover {
  opacity: .7;
}
.header-menu {
  margin-bottom: 10px;
}
.header-menu ul li {
  display: inline-block;
  vertical-align: top;
  margin-left: 48px;
  margin-bottom: 20px;
}
.header-menu ul li:first-child {
  margin-left: 0;
}
.header-menu ul li a {
  display: block;
  color: #2b2f32;
  font-size: 17px;
  font-weight: 400;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.header-menu ul li.active a {
  color: #cd3a71;
}
.header-menu ul li:hover a[href] {
  opacity: .7;
}
.slider1 {
  background: #eaf1f5 url('../img/slider.png') 670px 0 no-repeat;
}
.slider1 .wrap .slick-slide {
  outline: none;
}
.slider1 .wrap .slick-dots {
  bottom: -14px;
}
.slider1 .wrap h1 {
  font-family: 'MullerBold';
  color: #006caa;
  font-size: 48px;
  padding-top: 75px;
  padding-bottom: 25px;
}
.slider1 .wrap p {
  font-family: 'MullerReg';
  font-size: 20px;
  color: #000;
  line-height: 40px;
  margin-bottom: 85px;
}
.slider1 .wrap a {
  display: inline-block;
  padding: 16px 125px 16px 35px;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  margin-left: 3px;
  background: url('../img/slider-small-car.png') 200px 50% no-repeat, url('../img/slider-small-car2.png') 240px 55% no-repeat, linear-gradient(to bottom, #3aa1ea, #4e75a3);
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.slider1 .wrap a:hover {
  opacity: .7;
}
.our-services {
  margin-bottom: 30px;
}
.our-services h2 {
  font-size: 25px;
  padding: 45px 0 30px 0;
}
.our-services .services img {
  display: block;
  margin-bottom: 18px;
}
.our-services .services a {
  display: block;
  font-size: 15px;
  line-height: 22px;
  color: #000;
  padding-left: 10px;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.our-services .services a:hover {
  opacity: .7;
}
.our-services .services .service {
  width: 16%;
  display: inline-block;
  vertical-align: top;
  margin-right: 4.5%;
  margin-bottom: 40px;
}
.our-services .services .service:nth-child(5) {
  margin-right: 0;
}
.our-services .services .other-services {
  width: 56%;
  display: inline-block;
  vertical-align: top;
  padding-top: 55px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}
.our-services .services .other-services p {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 28px;
}
.our-services .services .other-services a {
  display: inline-block;
  padding: 9px 60px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  border: 2px solid #3d6699;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  font-weight: 400;
  font-size: 14px;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.our-services .services .other-services a:hover {
  opacity: .7;
}
.car-diagnostics {
  background: url('../img/car-diagnostics-bg.jpg') center 0 no-repeat;
  background-size: cover;
  min-height: 497px;
}
.car-diagnostics .wrap {
  background: url('../img/car-diagnostics-car.png') right 0 no-repeat;
  position: relative;
}
.car-diagnostics .wrap > div:first-child {
  max-width: 750px;
}
.car-diagnostics .wrap h2 {
  font-size: 25px;
  color: #fff;
  padding: 100px 0 20px 0;
}
.car-diagnostics .wrap p {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 35px;
}
.car-diagnostics .wrap ul li {
  display: block;
  padding-top: 3px;
  padding-bottom: 22px;
  padding-left: 45px;
  background: url('../img/icon-car-diagnostics.png') 0 0 no-repeat;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
}
.car-diagnostics .wrap .popup-car-diagnostics {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  padding: 40px 45px;
  margin-top: 90px;
}
.car-diagnostics .wrap .popup-car-diagnostics h3 {
  margin-bottom: 30px;
  padding-left: 56px;
  background: url('../img/magnifier.png') 0 0 no-repeat;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}
.car-diagnostics .wrap .popup-car-diagnostics input {
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 12px 20px;
  border: none;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.2);
}
.car-diagnostics .wrap .popup-car-diagnostics input::placeholder {
  font-size: 15px;
  color: #000;
}
.car-diagnostics .wrap .popup-car-diagnostics button {
  margin-top: 8px;
  display: inline-block;
  padding: 15px 56px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  background: linear-gradient(to bottom, #8ec741, #39a072);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  border: none;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.car-diagnostics .wrap .popup-car-diagnostics button:hover {
  opacity: .7;
}
.how-it-works h2 {
  font-size: 25px;
  padding-top: 90px;
  padding-bottom: 35px;
  text-align: left;
}
.how-it-works .items {
  text-align: center;
}
.how-it-works .items .item {
  display: inline-block;
  vertical-align: top;
  width: 178px;
  margin-right: 20px;
  margin-bottom: 40px;
  position: relative;
  text-align: center;
}
.how-it-works .items .item:last-child {
  margin-right: 0;
}
.how-it-works .items .item:last-child:after {
  background: none;
}
.how-it-works .items .item p {
  margin-top: 10px;
}
.how-it-works .items .item:after {
  content: '';
  position: absolute;
  top: 20%;
  right: -28px;
  background: url('../img/how-it-works-icon7.png') 0 0 no-repeat;
  width: 44px;
  height: 12px;
}
.how-it-works .items .item a {
  display: inline-block;
  vertical-align: top;
  padding: 15px 55px;
  margin-bottom: 80px;
  margin-left: -60px !important;
  width: 300px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin: auto;
  background: linear-gradient(to bottom, #8ec741, #39a072);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.how-it-works .items .item a:hover {
  opacity: .7;
}
.customer-testimonials {
  margin-bottom: 100px;
}
.customer-testimonials .wrap h2 {
  font-size: 25px;
  margin-bottom: 30px;
}
.customer-testimonials .wrap .slider2 .slick-dots {
  bottom: -45px;
}
.customer-testimonials .wrap .slider2 .slick-dots li {
  background: #4588c2;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  margin-right: 30px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}
.customer-testimonials .wrap .slider2 .slick-dots li.slick-active {
  background: #e5427f;
}
.customer-testimonials .wrap .slider2 .slick-dots li button:before {
  position: absolute;
  content: '1';
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  opacity: 1;
}
.customer-testimonials .wrap .slider2 .slick-dots li:nth-child(2) button:before {
  position: absolute;
  content: '2';
  color: #fff;
  font-size: 16px;
  opacity: 1;
}
.customer-testimonials .wrap .slider2 .slick-dots li:nth-child(3) button:before {
  position: absolute;
  content: '3';
  color: #fff;
  font-size: 16px;
  opacity: 1;
}
.customer-testimonials .wrap .slider2 .slides {
  min-height: 500px;
  position: relative;
  text-align: right;
}
.customer-testimonials .wrap .slider2 .slides img {
  height: 500px;
}
.customer-testimonials .wrap .slider2 .slides > div {
  position: absolute;
  top: 0;
  right: 0;
}
.customer-testimonials .wrap .slider2 .slides > div {
  display: inline-block;
  width: 525px;
  color: #fff;
  text-align: left;
}
.customer-testimonials .wrap .slider2 .slides > div h3 {
  font-size: 18px;
  font-weight: 500;
  padding: 40px 0 20px 0;
}
.customer-testimonials .wrap .slider2 .slides > div p {
  font-weight: 400;
  font-style: 15px;
  margin-bottom: 10px;
}
.customer-testimonials .wrap .slider2 .slides > div a {
  display: inline-block;
  margin-bottom: 40px;
  color: #fff;
  padding: 8px;
  background: #55ac62;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.customer-testimonials .wrap .slider2 .slides > div a:hover {
  opacity: .7;
}
.customer-testimonials .wrap .slider2 .slides > div .description {
  margin-bottom: 60px;
}
.customer-testimonials .wrap .slider2 .slides > div .description p {
  font-weight: 300;
}
.posts-index {
  background-color: #ecf2f5;
  padding-top: 40px;
}
.posts-index .header-posts .left {
  float: left;
}
.posts-index .header-posts .left h2 {
  font-size: 25px;
  padding-bottom: 36px;
}
.posts-index .header-posts .right {
  float: right;
}
.posts-index .header-posts .right a {
  display: block;
  font-weight: 500;
  font-size: 14px;
  color: #3d699d;
  padding: 12px 30px;
  background: #fff;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.posts-index .header-posts .right a:hover {
  opacity: .7;
}
.posts-index .footer-posts .right-bottom {
  display: none;
  text-align: center;
}
.posts-index .footer-posts .right-bottom a {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  padding: 12px 30px;
  margin-bottom: 20px;
  background: #fff;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.posts-index .footer-posts .right-bottom a:hover {
  opacity: .7;
}
.posts-index .footer-posts .top-posts .post,
.posts-index .footer-posts .bottom-posts .post {
  display: inline-block;
  vertical-align: top;
  width: 48%;
  margin-right: 2%;
  margin-bottom: 55px;
}
.posts-index .footer-posts .top-posts .post:last-child,
.posts-index .footer-posts .bottom-posts .post:last-child {
  margin-right: 0;
}
.posts-index .footer-posts .top-posts .post .left,
.posts-index .footer-posts .bottom-posts .post .left {
  float: left;
  margin-right: 20px;
  font-size: 0;
}
.posts-index .footer-posts .top-posts .post .right,
.posts-index .footer-posts .bottom-posts .post .right {
  overflow: hidden;
}
.posts-index .footer-posts .top-posts .post .right h3,
.posts-index .footer-posts .bottom-posts .post .right h3 {
  font-size: 19px;
  font-weight: 500;
  color: #d25182;
  margin-bottom: 20px;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.posts-index .footer-posts .top-posts .post .right h3:hover,
.posts-index .footer-posts .bottom-posts .post .right h3:hover {
  opacity: .7;
}
.posts-index .footer-posts .top-posts .post .right p,
.posts-index .footer-posts .bottom-posts .post .right p {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px;
  color: #000;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.posts-index .footer-posts .top-posts .post .right p:hover,
.posts-index .footer-posts .bottom-posts .post .right p:hover {
  opacity: .7;
}
.posts-index .footer-posts .top-posts .post .right time,
.posts-index .footer-posts .bottom-posts .post .right time {
  padding-left: 20px;
  background: url('../img/calendar.png') 0 0 no-repeat;
}
.email {
  background: #abc2cf;
  padding-top: 30px;
  padding-bottom: 35px;
  text-align: center;
  margin-bottom: 40px;
}
.email .left {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  padding: 10px 0;
  padding-left: 150px;
  margin-right: 50px;
  background: url('../img/email.png') 0 0 no-repeat;
}
.email .left p {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #fff;
}
.email .right {
  display: inline-block;
}
.email .right input + br {
  display: none;
}
.email .right input {
  border: none;
  padding: 12px 30px;
  width: 340px;
  margin-right: 20px;
  margin-top: 10px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}
.email .right input::placeholder {
  color: #000;
  font-size: 15px;
}
.email .right button {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  display: inline-block;
  padding: 14px 20px;
  border: none;
  background: linear-gradient(to bottom, #fd498d, #cf3b72);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.email .right button:hover {
  opacity: .7;
}
.auto-fit {
  background: url('../img/auto-fit.jpg') center 0 no-repeat;
  background-size: cover;
  min-height: 338px;
  margin-bottom: 70px;
}
.auto-fit .wrap {
  background: url('../img/car2.png') -55px 0 no-repeat;
  text-align: right;
}
.auto-fit .wrap h2 {
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  display: inline-block;
  margin-top: 45px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 40px;
  position: relative;
}
.auto-fit .wrap h2:after {
  content: '';
  position: absolute;
  top: 0;
  left: -45px;
  background: url('../img/magnifier2.png') 0 0 no-repeat;
  width: 42px;
  height: 43px;
}
.auto-fit .wrap .form-auto-fit {
  display: inline-block;
  padding: 30px 65px;
  margin-bottom: 65px;
  background: rgba(255, 255, 255, 0.85);
}
.auto-fit .wrap .form-auto-fit input {
  padding: 15px 20px;
  border: none;
  margin-right: 30px;
  background-color: #fff;
}
.auto-fit .wrap .form-auto-fit input::placeholder {
  font-size: 15px;
  color: #000;
}
.auto-fit .wrap .form-auto-fit button {
  display: inline-block;
  padding: 14px 60px;
  border: none;
  color: #fff;
  background: linear-gradient(to bottom, #8ec741, #39a072);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.auto-fit .wrap .form-auto-fit button:hover {
  opacity: .7;
}
.map-contacts {
  margin-bottom: 60px;
}
.map-contacts h2 {
  font-size: 25px;
  margin-bottom: 40px;
  padding-left: 10px;
  position: relative;
}
.map-contacts h2 .contacts {
  position: absolute;
  top: 110px;
  left: 5px;
  z-index: 10;
  padding: 35px 70px;
  padding-top: 50px;
  padding-bottom: 55px;
  padding-left: 45px;
  background-color: #fff;
  font-weight: 400;
}
.map-contacts h2 .contacts .phone {
  font-size: 22px;
  color: #000;
  display: inline-block;
  margin-bottom: 25px;
  padding-left: 30px;
  background: url('../img/tel.png') 0 4px no-repeat;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.map-contacts h2 .contacts .phone:hover {
  opacity: .7;
}
.map-contacts h2 .contacts address {
  font-size: 15px;
  font-style: normal;
  background: url('../img/map-icon.png') 0 1px no-repeat;
  padding-left: 30px;
  margin-bottom: 25px;
}
.map-contacts h2 .contacts p {
  font-size: 15px;
  background: url('../img/time.png') 0 1px no-repeat;
  margin-bottom: 42px;
  padding-left: 30px;
}
.map-contacts h2 .contacts .btn-call {
  display: inline-block;
  padding: 11px 29px 11px 55px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  background: url('../img/btn-call.png') 25px 50% no-repeat, linear-gradient(to bottom, #8ec741, #39a072);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.map-contacts h2 .contacts .btn-call:hover {
  opacity: .7;
}
.map-contacts .map {
  height: 380px;
}
.footer-class {
  display: none;
  margin-top: 30px;
  text-align: center;
}
footer {
  margin-bottom: 20px;
}
footer .logo {
  float: left;
  margin-left: 5px;
}
footer .logo a {
  display: block;
  font-size: 0;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
footer .logo a:hover {
  opacity: .7;
}
footer .copyright-btn-call {
  float: left;
  width: 610px;
  margin-left: 30px;
}
footer .copyright-btn-call .phone {
  float: left;
  margin-top: 20px;
}
footer .copyright-btn-call .phone p {
  font-size: 14px;
  color: #000;
}
footer .copyright-btn-call .btn-call {
  float: right;
  margin-right: 10px;
}
footer .copyright-btn-call .btn-call a {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  display: inline-block;
  padding: 11px 29px 11px 55px;
  background: url('../img/btn-call.png') 25px 50% no-repeat, linear-gradient(to bottom, #8ec741, #39a072);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
footer .copyright-btn-call .btn-call a:hover {
  opacity: .7;
}
footer .social-link {
  float: right;
}
footer .social-link a {
  display: inline-block;
  vertical-align: top;
  margin-right: 12px;
  margin-top: 10px;
  font-size: 0;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
footer .social-link a:last-child {
  margin-right: 0;
}
footer .social-link a:hover {
  opacity: .7;
}
@media all and (max-width: 1170px) {
  header .phone-btn-call {
    margin-left: 40px;
    width: 520px;
  }
}
@media all and (max-width: 1080px) {
  header .phone-btn-call {
    margin-left: 4px;
    width: 490px;
  }
}
@media all and (max-width: 1010px) {
  header .phone-btn-call {
    width: 580px;
    float: right;
  }
  header .social-link {
    display: none;
  }
}
@media all and (max-width: 950px) {
  header .phone-btn-call {
    width: 540px;
  }
}
@media all and (max-width: 880px) {
  header .phone-btn-call {
    width: 500px;
  }
}
@media all and (max-width: 830px) {
  header .phone-btn-call {
    width: auto;
    margin-top: 0;
  }
  header .phone-btn-call .phone {
    float: none;
    display: block;
  }
  header .phone-btn-call .btn-call {
    float: none;
    display: block;
  }
}
@media all and (max-width: 615px) {
  header {
    margin-bottom: 90px;
    position: relative;
  }
  header .logo {
    position: absolute;
    top: 50px;
    left: 0;
  }
  header .phone-btn-call {
    width: 100%;
  }
  header .phone-btn-call .phone {
    float: left;
    margin-top: 9px;
  }
  header .phone-btn-call .phone p {
    display: none;
  }
  header .phone-btn-call .btn-call {
    float: right;
  }
}
@media all and (max-width: 480px) {
  header {
    position: relative;
  }
  header .logo {
    position: absolute;
    top: 50px;
    left: 0;
  }
  header .phone-btn-call {
    width: 100%;
  }
  header .phone-btn-call .phone {
    float: left;
    margin-top: 10px;
  }
  header .phone-btn-call .phone a {
    font-size: 16px;
    background-position: 0 1px;
  }
  header .phone-btn-call .phone p {
    display: none;
  }
  header .phone-btn-call .btn-call a {
    padding: 13px 18px 13px 18px;
    background: url('../img/btn-call.png') 5px 50% no-repeat, linear-gradient(to bottom, #8ec741, #39a072);
  }
}
@media all and (max-width: 1170px) {
  footer .copyright-btn-call {
    margin-left: 40px;
    width: 520px;
  }
}
@media all and (max-width: 1100px) {
  .footer-class {
    display: block;
  }
  footer .copyright-btn-call {
    width: auto;
    margin-left: 200px;
  }
  footer .copyright-btn-call .phone {
    display: none;
  }
}
@media all and (max-width: 1000px) {
  footer .copyright-btn-call {
    width: auto;
    margin-left: 100px;
  }
}
@media all and (max-width: 850px) {
  footer .copyright-btn-call {
    width: auto;
    margin-left: 30px;
  }
}
@media all and (max-width: 768px) {
  footer {
    padding-top: 80px;
    position: relative;
  }
  footer .logo {
    position: absolute;
    top: 0;
    left: 0;
  }
  footer .copyright-btn-call {
    margin-left: 0;
  }
}
@media all and (max-width: 420px) {
  footer .social-link {
    float: left;
  }
}
@media all and (max-width: 768px) {
  .posts-index .footer-posts .top-posts .post:first-child,
  .posts-index .footer-posts .bottom-posts .post:first-child {
    width: 100%;
    margin-right: 0;
  }
  .posts-index .footer-posts .top-posts .post:last-child,
  .posts-index .footer-posts .bottom-posts .post:last-child {
    display: none;
  }
}
@media all and (max-width: 380px) {
  .posts-index .header-posts .right a {
    display: none;
  }
  .posts-index .footer-posts .right-bottom {
    display: block;
  }
  .posts-index .footer-posts .top-posts .post:first-child .left,
  .posts-index .footer-posts .bottom-posts .post:first-child .left {
    float: none;
    display: block;
  }
  .posts-index .footer-posts .top-posts .post:first-child .left img,
  .posts-index .footer-posts .bottom-posts .post:first-child .left img {
    width: 100%;
  }
}
@media all and (max-width: 970px) {
  .car-diagnostics .wrap > div:first-child {
    max-width: 100%;
    margin-bottom: 0;
  }
  .car-diagnostics .wrap h2 {
    padding-top: 50px;
  }
  .car-diagnostics .wrap .popup-car-diagnostics {
    position: static;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
  .car-diagnostics .wrap .popup-car-diagnostics h3 {
    padding: 10px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 42px;
    text-align: left;
    background-position: -2px 0;
  }
  .car-diagnostics .wrap .popup-car-diagnostics h3 br {
    display: none;
  }
  .car-diagnostics .wrap .popup-car-diagnostics input[name="name"] + br {
    display: none;
  }
}
@media all and (max-width: 482px) {
  .car-diagnostics .wrap .popup-car-diagnostics {
    padding: 20px;
  }
}
@media all and (max-width: 432px) {
  .car-diagnostics .wrap .popup-car-diagnostics h3 {
    background-position: -2px 12px;
  }
}
@media all and (max-width: 768px) {
  .map-contacts h2 .contacts {
    padding: 7px;
  }
  .map-contacts h2 .contacts .phone {
    margin-bottom: 5px;
  }
  .map-contacts h2 .contacts address {
    margin-bottom: 10px;
  }
  .map-contacts h2 .contacts p {
    margin-bottom: 10px;
  }
}
@media all and (max-width: 1242px) {
  .header-menu ul li {
    margin-left: 40px;
  }
}
@media all and (max-width: 1190px) {
  .header-menu ul li {
    margin-left: 15px;
  }
}
@media all and (max-width: 1040px) {
  .header-menu ul li {
    margin-left: 0;
    margin-right: 100px;
  }
  .header-menu ul li:last-child {
    margin-right: 0;
  }
}
@media all and (max-width: 932px) {
  .header-menu ul li {
    margin-right: 60px;
  }
}
@media all and (max-width: 772px) {
  .header-menu ul li {
    margin-right: 40px;
  }
}
@media all and (max-width: 772px) {
  .header-menu ul li {
    margin-right: 20px;
  }
}
@media all and (max-width: 612px) {
  .header-menu ul li {
    margin-right: 10px;
  }
}
@media all and (max-width: 575px) {
  .header-menu ul li {
    margin-right: 50px;
  }
}
@media all and (max-width: 520px) {
  .header-menu ul li {
    margin-right: 20px;
  }
}
@media all and (max-width: 460px) {
  .header-menu ul li {
    margin-right: 10px;
  }
}
@media all and (max-width: 400px) {
  .header-menu ul li {
    margin-right: 0;
    display: block;
  }
}
@media all and (max-width: 768px) {
  .catalog-page-articles .wrap .catalog {
    width: 100%;
    margin-right: 0;
    margin-bottom: 40px;
  }
  .catalog-page-articles .wrap .catalog h3 {
    padding-left: 50px;
    background: url('../img/arrow-down.jpg') 0 0 no-repeat;
    height: 35px;
  }
  .catalog-page-articles .wrap .posts-pagination {
    width: 100%;
  }
}
@media all and (max-width: 500px) {
  .catalog-page-articles .wrap .catalog {
    width: 100%;
    margin-right: 0;
    margin-bottom: 40px;
  }
  .catalog-page-articles .wrap .catalog h3 {
    padding-left: 50px;
    background: url('../img/arrow-down.jpg') 0 0 no-repeat;
    height: 35px;
  }
  .catalog-page-articles .wrap .posts-pagination {
    width: 100%;
  }
  .catalog-page-articles .wrap .posts-pagination .posts .post .left {
    float: none;
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .catalog-page-articles .wrap .posts-pagination .posts .post .left img {
    width: 100%;
  }
}
@media all and (max-width: 380px) {
  .catalog-page-articles .wrap .catalog {
    padding: 10px;
  }
}
@media all and (max-width: 768px) {
  .catalog-page-articles .wrap .post-calc-text-page {
    float: none;
    display: block;
    width: 100%;
  }
}
@media all and (max-width: 990px) {
  .email .left {
    padding-left: 105px;
    margin-right: 5px;
  }
  .email .right input {
    margin-right: 5px;
    width: 250px;
  }
  .email .right button {
    width: 200px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media all and (max-width: 768px) {
  .email .right {
    text-align: left;
  }
  .email .right input {
    margin-bottom: 10px;
    width: 300px;
  }
  .email .right input + br {
    display: block;
  }
}
@media all and (max-width: 612px) {
  .email {
    text-align: right;
  }
  .email .left {
    padding-right: 135px;
    padding-left: 120px;
  }
}
@media all and (max-width: 455px) {
  .email .wrap {
    text-align: left;
  }
  .email .left {
    padding-right: 10px;
    padding-left: 125px;
    margin-right: 0;
  }
}
@media all and (max-width: 1000px) {
  .customer-testimonials .slider2 img {
    display: block;
    object-fit: cover;
  }
  .customer-testimonials .slider2 .slides > div {
    width: 400px;
  }
}
@media all and (max-width: 768px) {
  .customer-testimonials .slider2 .slides > div {
    max-width: 360px;
  }
}
@media all and (max-width: 480px) {
  .customer-testimonials .slider2 .slides {
    padding-bottom: 595px;
    background: #2b2f32;
    overflow: hidden;
  }
  .customer-testimonials .slider2 .slides > div {
    padding: 10px;
    width: auto !important;
    margin-top: 485px;
  }
}
@media all and (max-width: 1233px) {
  .how-it-works .items .item a {
    margin-top: 40px;
    margin-left: 0 !important;
  }
  .how-it-works .items .item.last-button {
    width: 300px;
  }
  .how-it-works .items .item.last:after {
    display: none !important;
  }
}
@media all and (max-width: 425px) {
  .how-it-works .items .item:nth-child(2n) {
    margin-left: 110px !important;
  }
  .how-it-works .items .item:nth-child(2n):after {
    right: 150px;
  }
  .how-it-works .items .item:nth-child(2n+1) {
    margin-left: -50px;
  }
  .how-it-works .items .last-button {
    margin-left: 0 !important;
  }
  .how-it-works .items .last-button:after {
    right: 0;
  }
}
@media all and (max-width: 1000px) {
  .our-services .services .service {
    width: 21%;
  }
  .our-services .services .service:nth-child(4) {
    margin-right: 0;
  }
  .our-services .services .service:nth-child(5) {
    margin-right: 4.5%;
  }
  .our-services .services .other-services {
    width: 100%;
    padding-top: 0;
  }
}
@media all and (max-width: 768px) {
  .our-services .services .service {
    width: 28.2%;
  }
  .our-services .services .service:nth-child(4) {
    margin-right: 4.5%;
  }
  .our-services .services .service:nth-child(3) {
    margin-right: 0;
  }
  .our-services .services .other-services {
    width: 61%;
    padding-top: 55px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media all and (max-width: 480px) {
  .our-services .services .service {
    width: 45%;
  }
  .our-services .services .service:nth-child(2n) {
    margin-right: 0;
  }
  .our-services .services .service:nth-child(3) {
    margin-right: 4.5%;
  }
  .our-services .services .other-services {
    width: 100%;
    padding-top: 0;
  }
}
@media all and (max-width: 380px) {
  .our-services .services .service {
    width: 97%;
    text-align: center;
  }
  .our-services .services .service img {
    margin-left: auto;
    margin-right: auto;
  }
}
@media all and (max-width: 480px) {
  .slider1 {
    text-align: center;
  }
}
@media all and (max-width: 1000px) {
  .auto-fit .wrap {
    background-position: -310px;
  }
  .auto-fit .form-auto-fit {
    padding: 30px !important;
  }
  .auto-fit .form-auto-fit input {
    margin-right: 10px !important;
  }
}
@media all and (max-width: 840px) {
  .auto-fit .wrap {
    background-position: -440px;
  }
  .auto-fit .form-auto-fit {
    padding: 25px !important;
  }
  .auto-fit .form-auto-fit input {
    margin-right: 5px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .auto-fit .form-auto-fit button {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
@media all and (max-width: 700px) {
  .auto-fit .form-auto-fit {
    padding: 25px !important;
    text-align: center;
  }
  .auto-fit .form-auto-fit input {
    width: 48%;
    margin-bottom: 10px;
  }
}
@media all and (max-width: 558px) {
  .auto-fit .wrap h2 {
    max-width: 380px;
  }
}
@media all and (max-width: 450px) {
  .auto-fit .wrap h2 {
    font-size: 28px;
    max-width: 260px;
  }
}
@media all and (max-width: 430px) {
  .auto-fit .wrap {
    background-position: -450px;
  }
  .auto-fit .form-auto-fit {
    padding: 25px !important;
    text-align: left;
  }
  .auto-fit .form-auto-fit input {
    width: 100%;
    margin-bottom: 10px;
  }
}
@media all and (max-width: 1000px) {
  body .form1 {
    width: 99%;
    padding-left: 10px;
    padding-right: 10px;
  }
  body .form1 form {
    padding: 35px 20px 25px 20px;
  }
}
@media all and (max-width: 530px) {
  body .form1 form input:nth-child(2),
  body .form1 form input:nth-child(1) {
    margin-right: 0 !important;
  }
}
@media all and (max-width: 1000px) {
  body .form2 {
    width: 99%;
  }
  body .form2 form {
    padding: 35px 20px 25px 20px;
  }
  body .form2 form .left {
    width: 45%;
  }
  body .form2 form .right {
    width: 53%;
  }
}
@media all and (max-width: 480px) {
  body .form2 form {
    text-align: left;
  }
  body .form2 form .left {
    display: block;
    width: 100%;
    text-align: left;
  }
  body .form2 form .left input {
    width: 70%;
  }
  body .form2 form .right {
    display: block;
    width: 100%;
  }
}
@media all and (max-width: 940px) {
  body .form4-osago1 {
    width: 99%;
  }
  body .form4-osago1 form .top {
    padding-left: 10px;
    padding-right: 10px;
  }
  body .form4-osago1 form .top input,
  body .form4-osago1 form .top select {
    margin-bottom: 2px;
  }
  body .form4-osago1 form .top h2 {
    padding-top: 2px;
  }
  body .form4-osago1 form .top .discount {
    padding-bottom: 2px;
  }
  body .form4-osago1 form .top .region {
    width: 42%;
  }
  body .form4-osago1 form .top .moto_power {
    width: 42%;
  }
  body .form4-osago1 form .top .price {
    margin-bottom: 2px;
  }
  body .form4-osago1 form .bottom {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
  }
  body .form4-osago1 form .bottom label {
    padding-bottom: 0;
    padding-left: 0;
  }
  body .form4-osago1 form .bottom input {
    margin-bottom: 5px;
  }
  body .form4-osago1 form .bottom input[name="phone"] + br {
    display: block !important;
  }
  body .form4-osago1 form .bottom input[name="metro"] + br {
    display: block !important;
  }
}
@media all and (max-width: 480px) {
  body .form4-osago1 form .top {
    padding-left: 10px;
    padding-right: 10px;
  }
  body .form4-osago1 form .top .region {
    width: 80%;
  }
  body .form4-osago1 form .top .moto_power {
    width: 90%;
  }
  body .form4-osago1 form .top .age {
    width: 80%;
  }
}
@media all and (max-width: 940px) {
  body .form5-osago2 {
    width: 99%;
  }
  body .form5-osago2 form .top .top1,
  body .form5-osago2 form .top .top2 {
    padding-left: 10px;
    padding-right: 10px;
  }
  body .form5-osago2 form .top .top1 .region-osago,
  body .form5-osago2 form .top .top2 .region-osago,
  body .form5-osago2 form .top .top1 .year-car,
  body .form5-osago2 form .top .top2 .year-car {
    width: 42%;
  }
  body .form5-osago2 form .top .top1 .moto-power,
  body .form5-osago2 form .top .top2 .moto-power,
  body .form5-osago2 form .top .top1 .brand-power,
  body .form5-osago2 form .top .top2 .brand-power {
    width: 42%;
  }
  body .form5-osago2 form .bottom {
    padding-left: 10px;
    padding-right: 10px;
  }
  body .form5-osago2 form .bottom label {
    padding-bottom: 0;
    padding-left: 0;
  }
  body .form5-osago2 form .bottom input[name="phone"] + br {
    display: block !important;
  }
  body .form5-osago2 form .bottom input[name="metro"] + br {
    display: block !important;
  }
}
@media all and (max-width: 480px) {
  body .form5-osago2 form .top .top1,
  body .form5-osago2 form .top .top2 {
    padding-left: 10px;
    padding-right: 10px;
  }
  body .form5-osago2 form .top .top1 .region-osago,
  body .form5-osago2 form .top .top2 .region-osago,
  body .form5-osago2 form .top .top1 .year-car,
  body .form5-osago2 form .top .top2 .year-car {
    width: 80%;
  }
  body .form5-osago2 form .top .top1 .moto-power,
  body .form5-osago2 form .top .top2 .moto-power,
  body .form5-osago2 form .top .top1 .brand-power,
  body .form5-osago2 form .top .top2 .brand-power {
    width: 90%;
  }
  body .form5-osago2 form .top .top1 .age-drive,
  body .form5-osago2 form .top .top2 .age-drive,
  body .form5-osago2 form .top .top1 .model-car,
  body .form5-osago2 form .top .top2 .model-car {
    width: 80%;
  }
}
@media all and (max-width: 1000px) {
  body .form3 {
    width: 99%;
  }
  body .form3 form {
    padding: 35px 20px 25px 20px;
    position: relative;
  }
  body .form3 form .left,
  body .form3 form .right {
    width: 49%;
    margin-right: 2%;
  }
  body .form3 form .left input,
  body .form3 form .right input {
    width: 100%;
  }
  body .form3 form .right {
    margin-right: 0;
    margin-bottom: 40px;
  }
  body .form3 form button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
@media all and (max-width: 480px) {
  body .form3 form .left,
  body .form3 form .right {
    width: 100%;
  }
  body .form3 form button {
    width: 250px;
    left: 47%;
  }
}
.form1 {
  width: 920px;
  background: url('../img/textpage-form1.png') 0 0 no-repeat;
  background-size: cover;
}
.form1 form {
  text-align: center;
  padding: 35px 0 25px 0;
}
.form1 form input {
  font-size: 15px;
  color: #000;
  padding: 13px 20px;
  margin-right: 10px;
  margin-bottom: 15px;
  border: none;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.2);
}
.form1 form input:nth-child(3) {
  margin-right: 0;
}
.form1 form input::placeholder {
  color: #000;
}
.form1 form button {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  display: inline-block;
  padding: 15px 55px;
  border: none;
  background: linear-gradient(to bottom, #8ec741, #39a072);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.form1 form button:hover {
  opacity: .7;
}
.form2 {
  width: 920px;
  background: url('../img/textpage-form2.png') 0 0 no-repeat;
  background-size: cover;
}
.form2 h2 {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-align: left;
  padding-bottom: 30px;
}
.form2 form {
  text-align: center;
  padding: 35px 100px 25px 100px;
}
.form2 form .left {
  display: inline-block;
  vertical-align: top;
  width: 32%;
  margin-right: 1%;
}
.form2 form .left input {
  font-size: 15px;
  color: #000;
  width: 100%;
  padding: 13px 20px;
  margin-bottom: 16px;
  border: none;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.2);
}
.form2 form .left input::placeholder {
  color: #000;
}
.form2 form .right {
  display: inline-block;
  vertical-align: top;
  width: 66%;
  margin-bottom: 30px;
}
.form2 form .right textarea {
  width: 100%;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  padding: 13px 20px;
}
.form2 form .right textarea::placeholder {
  color: #000;
}
.form2 form button {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  display: inline-block;
  padding: 15px 55px;
  border: none;
  background: linear-gradient(to bottom, #8ec741, #39a072);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.form2 form button:hover {
  opacity: .7;
}
.form3 {
  width: 920px;
  background: url('../img/textpage-form3.png') 0 0 no-repeat;
  background-size: cover;
}
.form3 form {
  text-align: center;
  padding: 35px 0 25px 0;
  padding-left: 100px;
  padding-right: 100px;
}
.form3 form h2 {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-align: left;
  padding-bottom: 30px;
}
.form3 form .left {
  width: 33.33%;
  display: inline-block;
  vertical-align: top;
}
.form3 form .right {
  width: 66.66%;
  display: inline-block;
  vertical-align: top;
}
.form3 form .right input {
  display: inline-block;
  width: 47%;
  vertical-align: top;
}
.form3 form input {
  font-size: 15px;
  color: #000;
  padding: 13px 20px;
  margin-right: 10px;
  margin-bottom: 15px;
  border: none;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.2);
}
.form3 form input::placeholder {
  color: #000;
}
.form3 form button {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  padding: 15px 55px;
  border: none;
  background: linear-gradient(to bottom, #8ec741, #39a072);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.form3 form button:hover {
  opacity: .7;
}
.form4-osago1 {
  width: 920px;
  border: 3px solid #3d689c;
}
.form4-osago1 form .top {
  padding-left: 65px;
  padding-right: 65px;
  background: #fff;
}
.form4-osago1 form .top h2 {
  font-size: 20px;
  font-weight: 700;
  color: #3d689b;
  padding-top: 27px;
}
.form4-osago1 form .top .region {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin-right: 3%;
}
.form4-osago1 form .top .moto_power {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin-right: 3%;
}
.form4-osago1 form .top .age {
  display: inline-block;
  vertical-align: top;
  width: 30%;
}
.form4-osago1 form .top input {
  font-size: 15px;
  color: #000;
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 32px;
}
.form4-osago1 form .top input::placeholder {
  font-size: 15px;
  color: #000;
}
.form4-osago1 form .top select {
  width: 100%;
  font-size: 15px;
  color: #000;
  padding: 15px 20px;
  margin-bottom: 32px;
}
.form4-osago1 form .top label {
  font-size: 11px;
  color: #000;
}
.form4-osago1 form .top .price {
  font-size: 18px;
  color: #000;
  margin-bottom: 20px;
}
.form4-osago1 form .top .price span {
  background: #6bb755;
  padding: 1px;
}
.form4-osago1 form .top .discount {
  font-size: 15px;
  font-weight: 300;
  color: #000;
  padding-bottom: 35px;
}
.form4-osago1 form .bottom {
  background: url('../img/textpage-form4.png') 0 0 no-repeat;
  background-size: cover;
  text-align: center;
  padding: 35px 0 25px 0;
}
.form4-osago1 form .bottom label {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-align: left;
  display: block;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 10px;
}
.form4-osago1 form .bottom input {
  font-size: 15px;
  color: #000;
  padding: 11px 20px;
  margin-right: 10px !important;
  margin-bottom: 25px;
  border: none;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.2);
}
.form4-osago1 form .bottom input:nth-child(3) {
  margin-right: 0;
}
.form4-osago1 form .bottom input::placeholder {
  color: #000;
}
.form4-osago1 form .bottom input[name="phone"] + br {
  display: none !important;
}
.form4-osago1 form .bottom input[name="metro"] + br {
  display: none !important;
}
.form4-osago1 form .bottom button {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  display: inline-block;
  padding: 15px 55px;
  border: none;
  background: linear-gradient(to bottom, #8ec741, #39a072);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.form4-osago1 form .bottom button:hover {
  opacity: .7;
}
.form5-osago2 {
  width: 920px;
  border: 3px solid #3d689c;
}
.form5-osago2 form .top .top1 {
  padding-left: 65px;
  padding-right: 65px;
  background: #fff;
}
.form5-osago2 form .top .top1 h2 {
  font-size: 20px;
  font-weight: 700;
  color: #3d689b;
  padding-top: 27px;
}
.form5-osago2 form .top .top1 .region-osago {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin-right: 3%;
}
.form5-osago2 form .top .top1 .moto-power {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin-right: 3%;
}
.form5-osago2 form .top .top1 .age-drive {
  display: inline-block;
  vertical-align: top;
  width: 30%;
}
.form5-osago2 form .top .top1 input {
  font-size: 15px;
  color: #000;
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 32px;
}
.form5-osago2 form .top .top1 input::placeholder {
  font-size: 15px;
  color: #000;
}
.form5-osago2 form .top .top1 select {
  width: 100%;
  font-size: 15px;
  color: #000;
  padding: 12px 20px;
  margin-bottom: 32px;
}
.form5-osago2 form .top .top1 label {
  font-size: 11px;
  color: #000;
}
.form5-osago2 form .top .top1 .price {
  font-size: 18px;
  color: #000;
  margin-bottom: 20px;
}
.form5-osago2 form .top .top1 .price span {
  background: #6bb755;
  padding: 1px;
}
.form5-osago2 form .top .top1 .discount {
  font-size: 15px;
  font-weight: 300;
  color: #000;
  padding-bottom: 35px;
}
.form5-osago2 form .top .top2 {
  padding-left: 65px;
  padding-right: 65px;
  background: #fff;
}
.form5-osago2 form .top .top2 h2 {
  font-size: 20px;
  font-weight: 700;
  color: #3d689b;
}
.form5-osago2 form .top .top2 .year-car {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin-right: 3%;
}
.form5-osago2 form .top .top2 .brand-power {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin-right: 3%;
}
.form5-osago2 form .top .top2 .model-car {
  display: inline-block;
  vertical-align: top;
  width: 30%;
}
.form5-osago2 form .top .top2 select {
  width: 100%;
  font-size: 15px;
  color: #000;
  padding: 12px 20px;
  margin-bottom: 32px;
}
.form5-osago2 form .top .top2 label {
  font-size: 11px;
  color: #000;
}
.form5-osago2 form .top .top2 .price,
.form5-osago2 form .top .top2 .price2 {
  font-size: 18px;
  color: #000;
  margin-bottom: 20px;
}
.form5-osago2 form .top .top2 .price span,
.form5-osago2 form .top .top2 .price2 span {
  background: #6bb755;
  padding: 3px;
}
.form5-osago2 form .top .top2 .discount {
  font-size: 15px;
  font-weight: 300;
  color: #000;
  padding-bottom: 35px;
}
.form5-osago2 form .bottom {
  background: url('../img/textpage-form4.png') 0 0 no-repeat;
  background-size: cover;
  text-align: center;
  padding: 35px 0 25px 0;
}
.form5-osago2 form .bottom label {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-align: left;
  display: block;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 10px;
}
.form5-osago2 form .bottom input {
  font-size: 15px;
  color: #000;
  padding: 11px 20px;
  margin-right: 10px !important;
  margin-bottom: 25px;
  border: none;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.2);
}
.form5-osago2 form .bottom input:nth-child(3) {
  margin-right: 0;
}
.form5-osago2 form .bottom input::placeholder {
  color: #000;
}
.form5-osago2 form .bottom input[name="phone"] + br {
  display: none !important;
}
.form5-osago2 form .bottom input[name="metro"] + br {
  display: none !important;
}
.form5-osago2 form .bottom button {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  display: inline-block;
  padding: 15px 55px;
  border: none;
  background: linear-gradient(to bottom, #8ec741, #39a072);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.form5-osago2 form .bottom button:hover {
  opacity: .7;
}
.form1,
.form2,
.form3,
.form4-osago1,
.form5-osago2 {
  display: none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  background-color: #888;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 6px 10px 0 rgba(0, 0, 0, 0.14);
  position: fixed;
  left: 50%;
  top: 10px;
  z-index: 20;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.form5-osago2 {
  position: absolute;
}
.form1,
.form2,
.form3 {
  top: 80px;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 21px;
  height: 21px;
  background: url("../img/x.png") no-repeat;
  border: 0;
  cursor: pointer;
  outline: none;
}
.close:hover {
  opacity: 0.4;
  background: url("../img/x.png") no-repeat;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}
.bread-crumbs-page-articles {
  background-color: #eaf1f4;
  margin-bottom: 40px;
}
.bread-crumbs-page-articles ul {
  min-height: 56px;
}
.bread-crumbs-page-articles ul li {
  display: inline-block;
  vertical-align: top;
  background: url('../img/pagination-arrow-page-articles.png') right 50% no-repeat;
}
.bread-crumbs-page-articles ul li:first-child a {
  padding-left: 0;
}
.bread-crumbs-page-articles ul li:last-child {
  background: none;
}
.bread-crumbs-page-articles ul li a {
  display: block;
  padding-right: 25px;
  padding-left: 25px;
  font-size: 13px;
  color: #181818;
  line-height: 56px;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.bread-crumbs-page-articles ul li a:hover {
  opacity: .7;
}
.bread-crumbs-page-articles ul li.active a {
  color: #67b6ef;
}
.catalog-page-articles {
  margin-bottom: 135px;
}
.catalog-page-articles .catalog {
  float: left;
  width: 265px;
  margin-right: 35px;
  padding: 30px;
  background: #e4f4ff;
}
.catalog-page-articles .catalog h3 {
  font-size: 25px;
  color: #92a9ba;
  margin-bottom: 40px;
}
.catalog-page-articles .catalog ul li {
  margin-bottom: 32px;
}
.catalog-page-articles .catalog ul li a {
  font-size: 16px;
  color: #000;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.catalog-page-articles .catalog ul li a:hover {
  opacity: .7;
}
.catalog-page-articles .catalog ul li.active a {
  color: #67b6ef;
}
.catalog-page-articles .posts-pagination {
  overflow: hidden;
}
.catalog-page-articles .posts-pagination .posts h2 {
  font-weight: 500;
  color: #000;
  font-size: 25px;
  margin-bottom: 35px;
}
.catalog-page-articles .posts-pagination .posts .post {
  margin-bottom: 61px;
}
.catalog-page-articles .posts-pagination .posts .post .left {
  float: left;
  margin-right: 30px;
  font-size: 0;
}
.catalog-page-articles .posts-pagination .posts .post .right {
  overflow: hidden;
}
.catalog-page-articles .posts-pagination .posts .post .right h3 {
  font-weight: 500;
  font-size: 19px;
  color: #cd3a71;
  margin-bottom: 14px;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.catalog-page-articles .posts-pagination .posts .post .right h3:hover {
  opacity: .7;
}
.catalog-page-articles .posts-pagination .posts .post .right .news {
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 22px;
  color: #000;
}
.catalog-page-articles .posts-pagination .posts .post .right .data {
  font-size: 14px;
  color: #d0d0d0;
  padding-left: 23px;
  background: url('../img/calendar.png') 0 0 no-repeat;
}
.catalog-page-articles .posts-pagination .pagination ul li {
  display: inline-block;
  vertical-align: top;
  margin-right: 22px;
}
.catalog-page-articles .posts-pagination .pagination ul li a {
  display: block;
  font-weight: 500;
  font-size: 20px;
  color: #000;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.catalog-page-articles .posts-pagination .pagination ul li a:hover {
  opacity: .7;
}
.catalog-page-articles .posts-pagination .pagination ul li.active a {
  color: #3a9fe8;
}
.catalog-page-articles .posts-pagination .pagination ul li:last-child {
  margin-left: 30px;
}
.catalog-page-articles .post-calc-text-page {
  overflow: hidden;
}
.catalog-page-articles .post-calc-text-page .post {
  margin-bottom: 64px;
}
.catalog-page-articles .post-calc-text-page .post h2 {
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 25px;
}
.catalog-page-articles .post-calc-text-page .post .text p {
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 30px;
}
